<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Comments</title>
</head>
<body>
    <h1>Comments</h1>
    
    <ol>
        <% for(let c of comments) { %>
        <li><%= c.comment %> - <strong><%= c.username %></strong> | <a href="comments/<%= c.id %> ">Details</a></li>
        <% } %>  
    </ol>
    

    <a href="/comments/new">Create New</a>
</body>
</html>